*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container-carrosel{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.div-btn{
    width: 500px;
    height: 70px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#mudar1{
    width: 60px;
    margin: auto;
    color: blue;
}

#mudar2{
    width: 60px;
    margin: auto;
    color: blue;
}

#mudar3{
    width: 60px;
    margin: auto;
    color: blue;
}

/* #img1{
    display: none;
}

#img2{
    display: none;
}

#img3{
    display: none;
} */